$def with (last10Temps, lastDayTemps)

<h1>Jupy</h1>
<h2>Last 10 entries</h2>
<table>
  <thead>
    <tr>
      <th>DateTime</th>
      <th>Name</th>
      <th>Location</th>
      <th>Type</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
$for temp in last10Temps:
    <tr>
      <td>$temp.timestamp </td>
      <td>$temp.name </td>
      <td>$temp.loc</td>
      <td>$temp.type</td>
      <td>$temp.data</td>
    </tr>
  </tbody>
</table>

<ul class="hidden" id="lastDayTemps">
$for temp in lastDayTemps:
  <li data-value="$temp.data">$temp.data</li>
</ul>

<div id="chart1">
</div>
