$def with (currentTemp, last8HTemps, last48HTemps, lastWeekTemps)

<h1>Jupy </h1>
<h2>Current temp for: $currentTemp.name ($currentTemp.loc) $currentTemp.data</h2>

<ul class="hidden" id="last8HTemps">
$for temp in last8HTemps:
  <li data-time="$temp.timestamp" data-value="$temp.data">$temp.data</li>
</ul>

<ul class="hidden" id="last48HTemps">
$for temp in last48HTemps:
  <li data-time="$temp.timestamp" data-value="$temp.data">$temp.data</li>
</ul>

<ul class="hidden" id="lastWeekTemps">
$for temp in lastWeekTemps:
  <li data-time="$temp.timestamp" data-value="$temp.data">$temp.data</li>
</ul>


<div class="chart" id="chart0"></div>
<div class="chart" id="chart1"></div>
<div class="chart" id="chart2"></div>