{ "config" : {
  "database" : {
    "file" : ""
  },
  "sensor" : [
    {
      "device" : "",
      "name" : "",
      "loc" : "",
      "type" : ""
    }
  ],
  "options" : {
    "timezone" : 1,
    "interval" : 600
  }
}}