{ "config" : {
  "database" : {
    "file" : "", 
  },
  "sensor" : {
    "0" : {
      "name" : "",
      "loc" : "",
      "type" : "",
      "intervals" : "",
    },
  },
  "options" : {
    "timezone" : "",
  }
}}